@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');
*{
    margin: 0; 
    font-family: 'Advent Pro', sans-serif;
    
}
body{
    background-image: url("images/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 70px;
    color: white;
    text-align: center;
}
.images{
    display: flex;
    flex: 1;
    gap: 30px;
    margin: 30px auto;
    width: 40%;
}
img{
    width: 120px;
    height: 120px;
}
button{
    padding: 15px;
    background: white;
    border: none;
    border-radius: 10px;
}
button:hover {
    background: hotpink;
}
h4{
    margin-top: 20px;
    font-size: 50px;
    color: antiquewhite;
    text-align: center;
}
h5{
    margin-top: 10px;
    font-size: 50px;
    color: antiquewhite;
    text-align: center;
}
table{
    margin: 20px 450px;
    border-collapse: collapse;
    font-size: 50px;
    color: antiquewhite;
}
th, td{
    padding: 8px;
    text-align: center;
    border: 5px solid #ddd;
}
