@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@600&display=swap');
*{
    margin: 0; 
    font-family: 'Advent Pro', sans-serif;
    
}
body{
    background-image: url("images/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h4{
    margin-top: 70px;
    font-size: 70px;
    color: antiquewhite;
    text-align: center;
}
table{
    margin: 100px 450px;
    border-collapse: collapse;
    font-size: 50px;
    color: antiquewhite;
}
th, td{
    padding: 8px;
    text-align: center;
    border: 5px solid #ddd;
}
